:root {
    --ink-color:#7019ff;
    --black-color:#000000;
    --button-color:#ff1919;
    --some-text-color:#48635b;
    --placeholder-text--color:#bfd2cc;
    --poppins-shrift:"Poppins","Arial",sans-serif;
    --unbounded-shrift: "Unbounded","Poppins","Arial",sans-serif;
}


/*General styles*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #ffffff;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}

h1,h2,h3,h4,h5,h6,p,a,ul,li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input,input:focus {
    outline: none;
}


.container {
    width: 100%;
    max-width: 1480px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*Visually hidden */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button {
    width: 100%;
    max-width: 430px;
    height: 54px;
    padding: 15px;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--button-color);
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.gift-wrapper {
    width: 100%;
    height: 100vh;
    padding: 113px 90px;
    background-color: rgba(215, 225, 235, 0.6);
    background-image: url("../img/gift-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.gift-wrapper__inner {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1306px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    background-color: #fff;
}

/*Left styles*/
.gift-inner__left {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-right: 2px solid #eef0f3;
}


.gift-inner_card {
    width: 100%;
    max-width: 642px;
    margin-bottom: 30px;
    background-color: var(--ink-color);
    border-radius: 24px;
}

.inner-left-card__top {
    display: flex;
    justify-content: space-between;
    background-color: #7e30ff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 14px 24px;
}

.inner-left__userimg {
    width: 52px;
    height: 52px;
    margin-right: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.inner-left__user {
    display: flex;
    align-items: center;

}


.userinfo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.userinfo__wrapper strong {
    color: #ffffff;
    font-family: var(--unbounded-shrift);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.userinfo__wrapper span {
    color:rgba(255,255,255,0.8);
    font-family: var(--unbounded-shrift);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.time__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time__wrapper p {
    margin-bottom: 4px;
    color:rgba(255,255,255,0.8);
    font-family: var(--poppins-shrift);
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
}

.time__wrapper div {
    width: 100%;
    max-width: 85px;
    height: 32px;
    padding: 6px 12px;
    border-radius: 50px;
    background-color: #ffffff;
}

.time__wrapper time {
    display: block;
    text-align: center;
    color: #7019FF;
    font-family: var(--unbounded-shrift);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}



/*Inner left card bottom styles*/

.inner-left-card__bottom {
    padding: 24px;
}

.inner-left__tariff h1 {
    margin-bottom: 8px;
    color: #ffffff;
    font-family: var(--unbounded-shrift);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.inner-left__tariff {
    margin-bottom: 18px;
}

.inner-left__tariff span {
    color: #ffffff;
    font-family: var(--unbounded-shrift);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.inner-left__price {
    color: #ffffff;
    font-family: var(--unbounded-shrift);
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}



/*List styles*/
.gift-left__item:first-child {
    margin-bottom: 30px;
}
.gift-left__item:nth-child(2) {
    margin-bottom: 35px;
}


.left-text__wrapper {
    width: 100%;
    display: flex;
    align-items: center;


}
.left-text__wrapper p {
    color: #1e1640;
    font-family: var(--unbounded-shrift);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}

.payment-card {
    width: 100%;
    max-width: 315px;
    height: 126px;
    border-radius: 18px;
    background: #eff1f8;
}




.item-numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--ink-color);
    color: #ffffff;
    font-family: var(--unbounded-shrift);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}
.left-item__inner {
    display: flex;
    margin-top: 18px;
}
.payment-card__inner {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}

.payment-card {
    width: 100%;
    max-width: 315px;
    padding: 12px;
    margin-right: 12px;
}



.payment-card__type {
    width: 39px;
    height: 39px;
    border-radius: 12px;
    flex-shrink: 0;
    background-color: #fff;
}

.payment-card__type {
    margin-right: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.payment-card__type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.payment-card__info {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
}

.payment-card__info strong {
    color: #1e1640;
    font-family: var(--poppins-shrift);
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}

.payment-card__info span {
    color: rgba(30, 22, 64, 0.70);
    font-family: var(--poppins-shrift);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.payment-card__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}


.payment-card__price p {
    color: rgba(30, 22, 64, 0.70);
    font-family: var(--poppins-shrift);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.payment-card__price span {
    color:var(--ink-color);
    font-family: var(--poppins-shrift);
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}
.cards-img {
    display: block;
    margin-right: 15px;
    cursor: pointer;
}


/*.gift right styles*/


.gift-inner__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 576px;
    padding: 30px;
}


.gift-right__form {
    flex-grow: 1;
    margin-right: 10px;
}

.payment-purpose {
    display: block;
    margin-bottom: 10px;
    color: var(--some-text-color);
    font-family: var(--poppins-shrift);
    font-size: 16px;
    font-weight: 400;
    line-height: 132%;
}

.gift-selector-container {
    margin-bottom: 30px;
}


.selector-label__container {
    display: flex;
}

.selector-label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.selector-label__inner--1,.selector-label__inner--2 {
    width: 100%;
    height: 100%;
    max-width: 240px;
    border-radius: 12px;
    padding: 13px;
    background-color: #f3f7f8;
    cursor: pointer;
}

.selector-label__wrapper {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 240px;
    cursor: pointer;
}

.selector-label__wrapper:first-child {
    margin-right: 18px;
}

.selector-label span {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px;
    flex-shrink: 0;
}

.selector-label strong {
    color: var(--black-color);
    font-family: var(--poppins-shrift);
    font-size: 16px;
    font-weight: 500;
    line-height: 132%;
}


.selector1-radio:checked  ~ .selector-label__container  .selector-label__wrapper .selector-label__inner--1 {
    background-color: var(--ink-color);
    color: #ffffff;
}

.selector2-radio:checked  ~ .selector-label__container  .selector-label__wrapper:nth-child(2) .selector-label__inner--2 {
    background-color: var(--ink-color);
    color: #ffffff;
}

.selector1-radio:checked  ~ .selector-label__container  .selector-label__wrapper .selector-label__inner--1 strong {
    background-color: var(--ink-color);
    color: #ffffff;
}

.selector2-radio:checked  ~ .selector-label__container  .selector-label__wrapper:nth-child(2) .selector-label__inner--2 strong {
    background-color: var(--ink-color);
    color: #ffffff;
}

.file-input-container {
    margin-bottom: 30px;
}

.file-label {
    width: 100%;
    max-width: 496px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 1px dashed #bed4da;
    background: #f3f7f8;
}

.file-label svg {
    display: block;
    margin-right: 18px;
    color:var(--ink-color)
}

.file-label span {
    color: #48635b;
    font-family: var(--poppins-shrift);
    font-size: 16px;
    font-weight: 500;
    line-height: 132%;
}





.selector-button {
    width: 100%;
    max-width: 496px;
    height: 54px;
    color: #ffffff;
    font-family: var(--poppins-shrift);
    font-size: 18px;
    font-weight: 600;
    line-height: 132%;
    text-transform: uppercase;
    text-align: center;
}


/*After file uploaded*/

.fileuploaded-wrapper {
    display: none;

}

.fileuploaded-wrapper svg {
    color: var(--ink-color);
}




.gift-right__helper {
    display: flex;
   flex-direction: column;
    width: 100%;
    max-width: 496px;
    height: 190px;
    border-radius: 18px;
    background: #edf9ff;
    padding: 27px 34px;
}

.gift-right__helper div {
    margin-bottom: 18px;
}

.gift-right__helper h2,p {
    text-align: center;
}


.gift-right__helper h2 {
    color: #1e1640;
    font-family: var(--unbounded-shrift);
    font-size: 24px;
    font-weight: 500;
    line-height: 140%
}

.gift-right__helper p {
    color: #1e1640;
    font-family:var(--poppins-shrift);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.telegram__Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 430px;
    height: 54px;
    border-radius: 100px;
    background-color:#0e94dd;
    padding: 13.5px;
}
.telegram__Link span {
    margin-left: 18px;
    color: #ffffff;
    font-family: var(--poppins-shrift);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


/*Media queries start*/
@media only screen and (max-width:1360px ) {
    .selector-label strong {
        white-space: nowrap;
    }
}

@media only screen and (max-width:1310px ) {
    .selector-label strong {
        white-space: normal;
    }
}






@media only screen and (max-width:1295px ) {
    .gift-wrapper {
        width: 100%;
        height: 100%;
        padding: 113px 90px;
        background-color: rgba(215, 225, 235, 0.6);
        background-image: url("../img/gift-bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }



    .gift-wrapper__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 24px;
        background-color: #fff;
    }

    .gift-inner__left {
        position: relative;
        width: 100%;
        max-width: 100%;
        padding: 30px;
        border-right: 2px solid #eef0f3;
    }
    .gift-inner__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 30px;
    }

    .gift-inner_card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        background-color: var(--ink-color);
        border-radius: 24px;
    }

    .payment-card {
        width: 100%;
        max-width: calc( 100% /2 - 12px);
        height: 126px;
        border-radius: 18px;
        background: #eff1f8;
    }




    .gift-right__helper h2 {
        color: #1e1640;
        font-family: var(--unbounded-shrift);
        font-size: 22px;
        font-weight: 500;
        line-height: 140%;
        white-space: nowrap;

    }

    .gift-right__helper p {
        color: #1e1640;
        font-family:var(--poppins-shrift);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        white-space: nowrap;
    }


    .telegram__Link {
        padding: 13.5px;
    }
    .telegram__Link span {
        margin-left: 18px;
        color: #ffffff;
        font-family: var(--poppins-shrift);
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }


    .gift-right__form {
        width: 100%;
        max-width: 100%;
    }
    .gift-selector-container {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .selector-label__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 100%;
        cursor: pointer;
    }

    .selector-label__inner--1,.selector-label__inner--2 {
        width: 100%;
        height: 100%;
        max-width: 500px;
        border-radius: 12px;
        padding: 13px;
        background-color: #f3f7f8;
        cursor: pointer;
    }

    .payment-purpose {
        text-align: center;
        margin-bottom: 40px;
    }

    .file-input-container div {
        width: 100%;
        max-width: 100%;
    }

    .file-label {
        width: 100%;
        max-width: 100%;
    }
    .selector-button {
        width: 100%;
        max-width: 100% ;
        margin-bottom: 30px;
    }

    .gift-right__helper {
        width: 100%;
        max-width: 100%;

    }

    .telegram__Link {
        width: 100%;
        max-width: 100%;

    }
    .cards-img {
        margin-left: auto;
    }
    .selector-label__container {
        width: 100%;
        max-width: 100%;
        display: flex;
    }
}

@media only screen and (max-width:1100px ) {
    .inner-left__tariff h1 {
        font-size: 18px;
    }
    .inner-left__price {
        font-size: 24px;
    }

    .left-text__wrapper p {
        font-size: 16px;
    }

    .item-numbers{
        font-size: 18px;
    }
    .payment-card__info strong {
        font-size: 16px;
    }

    .payment-card__info span {
        font-size: 14px;
    }

    .payment-card__price span {
        font-size: 16px;
    }
    .selector-label strong {
        color: var(--black-color);
        font-family: var(--poppins-shrift);
        font-size: 14px;
        font-weight: 500;
        line-height: 132%;
        white-space: nowrap;
    }
}
