:root {
    --ink-color:#7019ff;
    --black-color:#000000;
    --button-color:#ff1919;
    --some-text-color:#48635b;
    --placeholder-text--color:#bfd2cc;
    --poppins-shrift:"Poppins","Arial",sans-serif;
    --unbounded-shrift: "Unbounded","Poppins","Arial",sans-serif;
}


/*General styles*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #ffffff;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}

h1,h2,h3,h4,h5,h6,p,a,ul,li {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input,input:focus {
    outline: none;
}


.container {
    width: 100%;
    max-width: 1480px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*Visually hidden */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button {
    width: 100%;
    max-width: 430px;
    height: 54px;
    padding: 15px;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--button-color);
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.gift-wrapper__inner {
    width: 100%;
    max-width: 1306px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}


.gift-inner_card {
    width: 100%;
    max-width: 642px;
    background-color: var(--ink-color);
    border-radius: 24px;
}

.inner-left__top {
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
}

.inner-left__userimg {
    width: 52px;
    height: 52px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.inner-left__user {
    display: flex;
    align-items: center;

}


.userinfo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time__wrapper div {
    width: 100%;
    max-width: 85px;
    height: 32px;
    padding: 6px 12px;
    border-radius: 50px;
    background-color: #ffffff;
}

.time__wrapper time {
    display: block;
    text-align: center;
}




